{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='p-2'>
  <h1>Список сторінок</h1>
  <p>Інформація про проєкт</p>

  <div class='col-3 my-5 row'>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/summary'
    >Resume | Summary</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/skills'
    >Resume | Skills</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/education'
    >Resume | Education</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/work'
    >Resume | Work</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/bio'
    >Bio page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/person'
    >Person page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/program'
    >Program page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/web'
    >Web page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/js'
    >JS page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/car'
    >Car page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/mac'
    >Mac page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/facebook'
    >Facebook page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/task21'
    >Task21 page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/task22'
    >Task22 page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/task31'
    >Task31 page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/shophome'
    >Shophome page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/shopproduct'
    >Shopproduct page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/shopnews'
    >Shopnews page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/shoporder'
    >Shoporder page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/shopcart'
    >Shopcart page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/shopprofile'
    >Shopprofile page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/shopreview'
    >Shopreview page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/shopcatalog'
    >Shopcatalog page</a>
    <a
      type='button'
      class='btn btn-primary mb-3'
      href='/shopcatalog'
    >Shopcatalog page</a>
  </div>

</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}