<nav>
    <div class='row my-5 ms-1'>
      <div class='col-12'>
        <ol class='breadcrumb'>
          {{#each breadcrumb}}
          <li class="breadcrumb-item">
            <a href="{{url}}" {{#if @last}}active{{/if}} target="_blank">{{name}}</a>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </nav>