{{#with newsOtherBlock}}

  <div class='row g-2 mb-5 col-12'>
    {{#each cards}}
      <div class='col-3'>
        <div class='card text-bg-dark'>
          <div class='card-header'>
            <div>
              {{title}}
              <span>{{#if isTop}}<button
                    class='btn btn-danger rounded-pill'
                  >Топ</button>{{/if}}</span>
              <span>{{#if idNew}}<button
                    class='btn btn-success rounded-pill'
                  >Нова</button>{{/if}}</span>
            </div>
          </div>
          <div class='card-body'>
            <p>{{description}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/with}}